body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;

  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.app {
  width: 400px;
}

h1 {
  text-align: center;
}

.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.text-input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background: #3b82f6;
  color: white;
  cursor: pointer;
}



.task {
  background: #1e293b;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task span {
  flex: 1;
}

.task button {
  background: #ef4444;
}

.task .edit-btn {
   background: #64748b;
}

.filters {
  margin-bottom: 20px;
}